# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env
.DS_Store

# React
build/
coverage/
*.log
*.cache
*.tmp
*.tgz
public/static/js/*.map
public/static/css/*.map

# Go
*.exe
*.exe~
*.out
*.test
vendor/
bin/
pkg/
*.log

# General
*.DS_Store
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
*.iml
